<div>
		<table
			class="table table-striped table-bordered table-condensed table-hover">
			<tr>
				<th>Naziv</th>
				<th>Id</th>
				<th>Akt Id</th>
				<th>Datum predlaganja</th>
				<th>Odbornik</th>
				<th>Status</th>
				<th>Opcija</th>

			</tr>
			<tr ng-repeat="amandman in amandmani track by $index " ng-click="show(amandman,$event)">
				<td>{{amandman.naziv}}</td>
				<td>{{amandman.id}}</td>
				<td>{{amandman.akt_id}}</td>
				<td>{{amandman.datumPredlaganja}}</td>
				<td>{{amandman.odbornik}}</td>
				<td><div ng-show="dalJePredsednik()">{{amandman.status}}</div>

				<div ng-hide="dalJePredsednik()">	<select ng-model="amandman.status" ng-init="amandman.status" 	
									ng-options="x for x in kojiNiz(amandman)"></select>
							<button type="button" class="btn btn-default btn-md"
						ng-click="izmeniAmandman(amandman)">
						<span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span>
						Sacuvaj izmene
					</button></div></td>

				<td>
					<button ng-if="isCurrent(amandman)" type="button" class="btn btn-default btn-md"
						ng-click="delete(amandman)">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						Obrisi
					</button>


				</td>
				
				
				
			</tr>
		</table>

	</div>